*{
    margin : 0;
    padding : 0;
   
}

body{
    font:bold;
    background-color:black;
    color:azure;
   
}

.header{
    position: sticky;
    top : 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    background-color: black;
    & p{
        margin-left: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    & #SearchBtn{
        border-radius: 20px;
        padding: 5px ;
        font-size: 15px;
        cursor: pointer;
    }
    & #LocationBtn{
        background-color: orangered;
        padding: 5px;
        font-size: medium;
        border-radius: 20px;
    }
    & #inp{
        background-color: black;
        color:aliceblue;
        padding : 10px;
        border-radius: 25px;
        border-color: gray;
    }
}




