*{
    margin : 0;
    padding : 0;
   
}

body{
    font:bold;
    background-color:black;
    color:azure;
    font-family: sans-serif
   
}

.header{
    position: sticky;
    top : 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    background-color: black;
    & p{
        margin-left: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    & #SearchBtn{
        border-radius: 20px;
        padding: 5px ;
        font-size: 15px;
        cursor: pointer;
    }
    & #LocationBtn{
        background-color: orangered;
        padding: 5px;
        font-size: medium;
        border-radius: 20px;
    }
    & #inp{
        background-color: black;
        color:aliceblue;
        padding : 10px;
        border-radius: 25px;
        border-color: gray;
    }
}

.card{
    background-color: #0d1b2a;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    &p{
        font-size: 14px;
        font-color: grey;
    }
    
}
.weather-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 12px;
    & .weather-left{
        grid-column: span 1;
        & .current-weather{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }
    & .card-footer{
        margin-top: 20px;
    }
    
}

.forecast-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 10px;
    font-size: 20px;
}

.weather-right{
    grid-column: span 1;
    & h2{
        margin-bottom: 10px;
    }
    & .highlights{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        column-gap : 10px;
        & .card-head{
            display: flex;
            justify-content: space-between;
            margin: 2px;
            & .air-index{
                color :black;
                padding: 5px;
                border-radius: 10px;
                &.aqi-1{
                    background-color: yellow;
                }
                &.aqi-2{
                    background-color: rgb(255, 68, 0);
                }
                &.aqi-3{
                    background-color: rgb(0, 255, 42);
                    
                }
            }
        } 
        & .sunrise-sunset{
            display : grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}



