*{
    margin : 0;
    padding : 0;
   
}

body{
    font:bold;
    background-color: white;
    
}

.container{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
   
}


